body {
    margin: 0;
    padding: 0;
    background-color: #DEC56E;
}


.navbar {
    background-color: #554500; /* Color café */
    color: white;
    padding: 15px ;
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.titulo {
    font-size: 35px;
    font-family: roboto;
    text-align: center;
    width: auto;
}

.logo {
    max-width: 100%; /* Ajusta el ancho de la imagen según sea necesario */
    max-height: 50px;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    left: 20px;
    position:absolute;
}