body{
    background: url("../Imagenes/fondop1per.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.fecha, .estado, .nac, .dir, .edad{
    margin: 5px;
    border: 2px solid blue;
    padding: 10px;
    box-shadow: 5px 5px 5px red;
    width: 40%;

}

section .info{
    width: 49%;
    border: 2px solid blue;
}

h1{
    text-align: center;
}
