.tabla{
    width: 90%;
    padding-top: 10px;
    margin: 5px;
}

.imagenprod{
    width: 50%;
}

th{
    border: 2px solid black;
    background-color: #A58F3E; /* Color de fondo */
}

td {
    border: 2px solid black;
    background-color: #9B906F;
    text-align: center;
}

.btn{
    background: #D7CAA5;
}

.btn:hover{
    cursor: pointer;
}